@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebAppNet5
@model WebAppNet5.Models.HahaViewModel
@inject ITestA testA
@*@CustomHtml Microsoft.AspNetCore.Mvc.TagHelpers*@
@*@Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation*@
@{
    testA.Show();
    <br />
<textarea>@@1111</textarea>
    <br />
    @:这是要输出的纯文本
    <br />
    @*@Html.Raw(Model.Address)*@
    @Href("~/")
    <br />
    @Html.TextArea("<h2>@Model.Id</h2>")
    <br />
    // Html标签扩展---自定义标签CustomArea
    @Html.CustomArea("内容。。。")
    <br />
    // Html标签扩展---自定义标签Simple
    //如果有特性[HtmlTargetElement("SimpleCustomHtml")]，优先使用特性，
    //没有特性的话，使用SimpleTagHelper中的Simple作为标签,如下的SimpleCustomHtml和Simple，其中紫色为可用的
    <SimpleCustomHtml>@Model.Name</SimpleCustomHtml>
    <Simple>@Model.Address</Simple>
}

<div class="text-center">
    @{
        @:Html ViewBag ViewData TempData传值
        <br />
        <h1>@ViewBag.CommandParameterIP</h1>
        <br />
        <br />
        <h1>@ViewBag.CommandParameterPort</h1>
        <br />
        @:Html ViewBag ViewData TempData传值
        <h2>@ViewBag.item</h2>
        @:ViewBag 对象提供对存储在 ViewData 中的对象的动态访问，这样可以更方便的使用，因为不需要转换
        <h2>@ViewBag.test</h2>
        <br />
        @:2222
        <h2>@ViewData["test"]</h2>
        <br />
        <h2>@TempData["test"]</h2>
        <br />
        <SimpleCustomHtml>@Model.Name</SimpleCustomHtml>
        <br />
        @:定义一个图片的taghelper，razor标记帮助器
    }
    <br />
    <h1 class="display-4">这是动态编译的</h1>
    <h2>@Model.Id</h2>
    <h2>@Model.Name</h2>
    <h2>@Model.Address</h2>
    <h2>@Model.Age</h2>
    @Html.TextArea("Html")
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <textarea>@@</textarea>
    <br />
    @{
        @:Html标签扩展---自定义标签Simple
        <br />
        <SimpleCustomHtml>@Model.Name</SimpleCustomHtml>
        <br />
        @:定义一个图片的taghelper，razor标记帮助器
    }
    <br />
    @{
        @:选择退出个别元素    你可以使用标签助手退出符（“ ！ ”）在元素级别停用标签助手，必须将标签助手退出符应用于开始和结束标记。添加标签助手退出符后，元素和标签助手属性不再以特殊字体显示。
        @:如下，使用标签助手退出符在
    }
    <!ImageCustom image-link="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1188114947,823520637&fm=26&gp=0.jpg" alternative-text="图片加载失败" />@*</ImageCustom>*@
    <ImageCustom image-link="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1188114947,823520637&fm=26&gp=0.jpg" alternative-text="图片加载失败" />@*</ImageCustom>*@
    <ImageCustom image-link="https://note.youdao.com/yws/res/272/WEBRESOURCE9d30a122d186506672c07ccad108b402" alternative-text="图片加载失败" />@*</ImageCustom>*@
</div>